/* ************** Variables ********** */
:root {
  --defaultpath: 5px;
  --defaultscale: 0;
  --defaultopacity: 0;
  --svgpathheighgt: 100vh;
}
$color1: #ffecd6;
$color2: #ccb59b;
$color3: #997a56;
$color4: #664825;
$color5: #331f08;
$color6: #3d8a6c;
$color7: #8cafa2;
$color8: #e7e7e7;
$color9: #faefe3;
$color10: #ffecd6c0;

@font-face {
  font-family: Delius Swash Caps;
  src: url("../../font/DeliusSwashCaps-Regular.ttf");
}
@font-face {
  font-family: Butterfly-kids;
  src: url("../../font/ButterflyKids-Regular.ttf");
}
@font-face {
  font-family: dandelion;
  src: url("../../font/Dandelion.otf");
}
@font-face {
  font-family: mali;
  src: url("../../font/Mali-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Delius Swash Caps;
  color: $color4;
  &::selection {
    background-color: $color4;
    color: $color1;
  }

}
@mixin standardbanner {
  width: 100%;
  background: $color1;
  margin: auto;
  padding: 1% 10%;
}
@mixin divideflex {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@mixin defaultspacing {
  width: 100%;
  padding: 0 10%;
  background: $color1;
  @media screen and (max-width : 900px){
    padding: 0 5%;
  }
}
@mixin defaultpadding {
  padding: 0 25px;
}
@mixin afterparam($width, $height, $color) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: 10px;
}
@mixin defaultinput {
  display: block;
  min-width: 150px;
  // width: 80%;
  max-width: 400px;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px $color4;
  border-radius: 20px;
  background-color: whitesmoke;
}

@mixin imageaboutus {
  position: relative;
  display: block;
  // top: 50%;
  // transform: translateY(-50%);
  margin: auto;
  height: 300px;
  border-radius: 100%;
  border: solid 1px $color4;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.29);
  transition: 4s;
}
@mixin textaboutus {
  position: relative;
  width: 85%;
  text-align: center;
  place-self: center;
  margin: 35px 0;
  padding: 10px;
  background: $color9;
  border: solid 1px $color4;
  border-radius: 15px;
  &::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -30px;
    width: 100px;
    height: 100px;
    background: url("../../images/logo.png") center/cover;
    background-repeat: no-repeat;
    // z-index: 5;
  }
}
@mixin lescss {
  text-align: center;
  margin-bottom: 35px;
  position: relative;
  &::after {
    @include afterparam(100px, 5px, $color2);
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
  }
}

h2 {
  position: relative;
  font-family: mali;
  font-size: 4rem;
}

.carousel-control {
  border-radius: 25px;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.29);
  border-radius: 5px;
  p {
    color: $color2;
  }
}
