/* ************** Variables ********** */
$color1: #ffecd6;
$color2: #ccb59b;
$color3: #997a56;
$color4: #664825;
$color5: #331f08;
$color6: #3D8A6C;
$color7: #8CAFA2;
$color8: #E7E7E7;
$color9: #faefe3;

@font-face {
  font-family: Delius Swash Caps;
  src: url("../../font/DeliusSwashCaps-Regular.ttf");
}
@font-face {
  font-family: Butterfly-kids;
  src: url("../../font/ButterflyKids-Regular.ttf");
}
@font-face {
  font-family: dandelion;
  src: url('../../font/Dandelion.otf');
}
@font-face {
  font-family: mali;
  src: url('../../font/Mali-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Delius Swash Caps;
  color: $color4;
  &::selection{
    background-color: $color4;
    color: $color1;
  }
}
@mixin standardbanner{
  width: 100%;
  background: $color1;
  margin: auto;
  padding: 1% 10%;
}
@mixin divideflex{
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
@mixin defaultspacing{
  width: 100%;
  padding: 0 10%;
  background: $color1;
}
@mixin defaultpadding{
  padding: 0 25px;
}
@mixin afterparam($width, $height, $color){
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: 10px;
}

h2{
  position: relative;
  font-family: mali;
  font-size: 4rem;
}

.carousel-control{
  border-radius: 25px;
}
.carousel-caption{
  background: rgba(0, 0, 0, 0.29);
  border-radius: 5px;
  p{
    color: $color2;
  }
}