/* ************** Variables ********** */
:root {
  --defaultpath: 5px;
  --defaultscale: 0;
  --defaultopacity: 0;
}

@font-face {
  font-family: Delius Swash Caps;
  src: url("../../font/DeliusSwashCaps-Regular.ttf");
}
@font-face {
  font-family: Butterfly-kids;
  src: url("../../font/ButterflyKids-Regular.ttf");
}
@font-face {
  font-family: dandelion;
  src: url("../../font/Dandelion.otf");
}
@font-face {
  font-family: mali;
  src: url("../../font/Mali-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Delius Swash Caps;
  color: #664825;
}
*::-moz-selection {
  background-color: #664825;
  color: #ffecd6;
}
*::selection {
  background-color: #664825;
  color: #ffecd6;
}

h2 {
  position: relative;
  font-family: mali;
  font-size: 4rem;
}

.carousel-control {
  border-radius: 25px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.29);
  border-radius: 5px;
}
.carousel-caption p {
  color: #ccb59b;
}

#menu {
  position: relative;
  width: 100%;
  top: 0;
  padding: 0 10%;
  background: #ccb59b;
  transition: 1s;
  z-index: 3;
}
#menu .adress {
  display: inline-block;
  margin-left: 10%;
  padding: 5px 20px;
  -webkit-clip-path: polygon(3% 0, 100% 0%, 97% 100%, 0% 100%);
          clip-path: polygon(3% 0, 100% 0%, 97% 100%, 0% 100%);
  background: #997a56;
}
#menu .adress span {
  color: #ffecd6;
}
#menu .adress span i {
  z-index: 3;
}
#menu nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu nav .logo {
  width: 70px;
  padding: 5px;
}
#menu nav .logo img {
  width: 100%;
}
#menu nav ul {
  vertical-align: middle;
}
#menu nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
#menu nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: #664825;
}
#menu nav ul li a:hover {
  color: #ffecd6;
  text-decoration: none;
}

.fullwidth {
  width: 100%;
  padding: 0 10%;
  background: #ffecd6;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% auto;
  grid-template-areas: "mt mi";
  position: relative;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../../images/baby4.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.fullwidth .ppltitle {
  grid-area: mt;
  position: relative;
}
.fullwidth .ppltitle .titles {
  position: relative;
  padding: 15px 0;
  left: 0;
}
.fullwidth .ppltitle .titles img {
  position: relative;
  height: 250px;
}
.fullwidth .ppltitle .titles h1 {
  font-family: mali;
  color: #ffecd6;
  font-size: 3rem;
}
.fullwidth .ppltitle .titles h2 {
  font-family: mali;
  color: #ccb59b;
  font-size: 2rem;
}
.fullwidth .pplimage {
  grid-area: mi;
  position: relative;
}

.normalcontainer {
  width: 100%;
  padding: 0 10%;
  background: #ffecd6;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.normalcontainer h2 {
  position: relative;
  margin: 15px auto;
  text-align: center;
  margin-bottom: 20px;
}
.normalcontainer h2 span {
  font-family: mali;
  font-size: 4rem;
  color: #3D8A6C;
}
.normalcontainer h2::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #ccb59b;
  border-radius: 10px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.normalcontainer .anim01 {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vw;
  background: #ccb59b;
  border-radius: 100%;
  z-index: 0;
  animation: 20s anim01 infinite linear;
}
@keyframes anim01 {
  0% {
    top: 35%;
    left: -85%;
  }
  50% {
    top: 30%;
    left: -80%;
  }
  100% {
    top: 35%;
    left: -85%;
  }
}
.normalcontainer .anim02 {
  display: block;
  position: absolute;
  top: 5%;
  left: 80%;
  overflow: hidden;
  width: 100vw;
  height: 100vw;
  background: #faefe3;
  border-radius: 100%;
  z-index: 0;
  animation: 20s anim02 infinite linear;
}
@keyframes anim02 {
  0% {
    top: 5%;
    left: 80%;
  }
  50% {
    top: 10%;
    left: 75%;
  }
  100% {
    top: 5%;
    left: 80%;
  }
}
.normalcontainer .bandeau01 {
  position: relative;
  display: flex;
  margin: 25px 10%;
}
.normalcontainer .bandeau01 #pereenfant {
  position: relative;
  width: 50%;
  max-height: 325px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.normalcontainer .bandeau01 #pereenfant img {
  height: 100%;
  animation: 10s imgzoom infinite linear;
}
@keyframes imgzoom {
  0% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
.normalcontainer .bandeau01 .textpart {
  position: relative;
  width: 50%;
  padding: 0 25px;
}
.normalcontainer .pictocontainer {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 25px;
}
.normalcontainer .pictocontainer .pictobox {
  display: block;
  position: relative;
  min-width: 250px;
  max-width: 400px;
  width: 20%;
  text-align: center;
  margin: 25px;
  padding: 2%;
  border: solid 1px #664825;
  border-radius: 15px;
  background-color: #faefe3;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
}
.normalcontainer .pictocontainer .pictobox h3 {
  display: block;
  text-align: center;
  position: relative;
  font-family: mali;
  font-size: 4rem;
  font-weight: bolder;
  color: #664825;
  margin-bottom: 20px;
}
.normalcontainer .pictocontainer .pictobox h3::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 50%;
  width: 30px;
  height: 5px;
  background-color: #ccb59b;
  border-radius: 10px;
  transform: translateX(-50%);
}
.normalcontainer .pictocontainer .pictobox img {
  height: 70px;
}
.normalcontainer .ourobjective {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.normalcontainer .ourobjective #part1 {
  position: relative;
}
.normalcontainer .ourobjective #part1::after {
  content: "";
  position: absolute;
  top: 70%;
  left: 110%;
  width: 300px;
  height: 300px;
  background: url("../../images/kid.jpg");
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
  border-radius: var(--defaultpath);
  transition: 2s;
  z-index: 2;
}
.normalcontainer .ourobjective #part2 {
  position: relative;
}
.normalcontainer .ourobjective #part2::before {
  content: "";
  position: absolute;
  top: 150px;
  left: -70%;
  scale: var(--defaultscale);
  width: 300px;
  height: 300px;
  background: url("../../images/family.jpg");
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  transition: 1s;
  border-radius: 100%;
}
.normalcontainer .ourobjective h2 {
  margin-bottom: 15px;
}
.normalcontainer .ourobjective h2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: #ccb59b;
  border-radius: 10px;
}
.normalcontainer .ourobjective h3 {
  position: relative;
  color: #ccb59b;
  margin-bottom: 10px;
}
.normalcontainer .ourobjective p {
  margin-bottom: 50px;
  position: relative;
}
.normalcontainer .ourobjective p::after {
  content: "";
  position: absolute;
  top: 115%;
  left: 50%;
  width: 50px;
  height: 5px;
  background-color: #8CAFA2;
  border-radius: 10px;
  transform: translateX(-50%);
}

.banner01 {
  position: relative;
  display: block;
  width: 100%;
  min-height: 400px;
  background: url("../../images/mam.png") center/cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}
.banner01 .mybird {
  position: absolute;
  top: 50%;
  height: 80px;
  width: auto;
  animation: birdy 15s infinite linear;
  z-index: 0;
}
@keyframes birdy {
  0% {
    left: 100%;
  }
  50% {
    left: 25%;
  }
  100% {
    left: -50%;
  }
}
.banner01 p {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 50px;
  font-family: mali;
  font-size: 3rem;
  font-weight: bolder;
  color: #faefe3;
}
.banner01 p span {
  font-family: mali;
  font-size: 3rem;
  color: #3D8A6C;
}
.banner01 img {
  display: block;
  max-width: 150px;
  margin: auto;
}

.teamcontainer {
  width: 100%;
  background: #ffecd6;
  margin: auto;
  padding: 1% 10%;
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.teamcontainer .ourteam {
  width: 50%;
  height: auto;
  padding: 25px;
  margin: 0 auto;
}
.teamcontainer .ourteam h2 {
  font-family: mali;
  font-size: 4rem;
  position: relative;
  margin-bottom: 20px;
}
.teamcontainer .ourteam h2::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #ccb59b;
  border-radius: 10px;
  top: 105%;
  left: 0;
}
.teamcontainer .ourteam p {
  position: relative;
}
.teamcontainer .ourteam p::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 127px;
  top: 28%;
  left: -20%;
  background: url("../../images/abc.png") center;
  background-repeat: no-repeat;
  filter: drop-shadow(-5px 3px 15px rgba(0, 0, 0, 0.3));
}
.teamcontainer .mamcontainer {
  position: relative;
  width: 40%;
  padding: 25px;
  min-height: 400px;
  z-index: 1;
}
.teamcontainer .mamcontainer #myCarousel .carousel-inner img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.teamcontainer .mamcontainer #myCarousel .carousel-inner p {
  position: relative;
  text-align: center;
}

.banner02 {
  width: 100%;
  background: #ffecd6;
  margin: auto;
  padding: 1% 10%;
  padding-bottom: 50px;
}
.banner02 h2 {
  text-align: center;
  margin-bottom: 35px;
  position: relative;
}
.banner02 h2::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #ccb59b;
  border-radius: 10px;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}
.banner02 .mapform {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: auto;
  background-color: #faefe3;
  padding: 25px;
  border-radius: 15px;
  border: solid 1px #664825;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
}
.banner02 .mapform .googlemap {
  width: 60%;
}
.banner02 .mapform .googlemap iframe {
  width: 95%;
  border: solid 3px #664825;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.banner02 .mapform .homeform {
  width: 40%;
}
.banner02 .mapform .homeform input,
.banner02 .mapform .homeform textarea {
  display: block;
  min-width: 250px;
  width: 80%;
  max-width: 400px;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #664825;
  border-radius: 20px;
  background-color: whitesmoke;
}
.banner02 .mapform .homeform input[type=date] {
  width: 75%;
}
.banner02 .mapform .homeform input[type=submit] {
  background: #ccb59b;
}

.mamfooter {
  position: relative;
  background: #ccb59b;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.mamfooter .footercontainer {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 4% 5%;
}
.mamfooter .footercontainer #footcol01 {
  position: relative;
  width: 40%;
  height: 100%;
}
.mamfooter .footercontainer #footcol01 img {
  position: relative;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 2s;
}
.mamfooter .footercontainer #footcol01::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 100px;
  height: 100px;
  background: url("../../images/logo.png") center/cover;
  background-repeat: no-repeat;
  z-index: 2;
  animation: dodo 8s infinite linear;
}
.mamfooter .footercontainer #footcol01::after {
  content: "Bien grandir, naturellement.";
  position: absolute;
  top: 100%;
  left: 100px;
  font-size: 2rem;
  opacity: var(--defaultopacity);
  transition: 5s;
}
@keyframes dodo {
  0% {
    rotate: -35deg;
  }
  30% {
    rotate: -30deg;
  }
  60% {
    rotate: -35deg;
  }
  80% {
    rotate: -30deg;
  }
  100% {
    rotate: -35deg;
  }
}
.mamfooter .footercontainer .footcol02 {
  position: relative;
  width: 25%;
  padding-left: 25px;
  margin-bottom: 20px;
}
.mamfooter .footercontainer .footcol02 h3 {
  position: relative;
}
.mamfooter .footercontainer .footcol02 h3::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  background-color: #ffecd6;
  border-radius: 10px;
  top: 120%;
  left: 0;
}
.mamfooter .footercontainer .footcol02 ul {
  position: relative;
}
.mamfooter .footercontainer .footcol02 ul li {
  list-style: none;
  line-height: 30px;
}
.mamfooter .footercontainer .footcol02 ul li a {
  color: #664825;
}
.mamfooter .footercontainer .footcol02 ul li a:hover {
  color: #ffecd6;
}
.mamfooter .footercontainer .footcol02 ul li a .fontawe {
  color: #ffecd6;
}
.mamfooter .footercontainer .footcol02 ul li a .fontawe:hover {
  color: #ffecd6;
}
.mamfooter .footercontainer .footcol03 {
  width: 25%;
}
.mamfooter .footercontainer .footcol03 h3 {
  position: relative;
  margin-bottom: 20px;
}
.mamfooter .footercontainer .footcol03 h3::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  background-color: #ffecd6;
  border-radius: 10px;
  top: 120%;
  left: 0;
}
.mamfooter .footercontainer .footcol03 ul li {
  list-style: none;
  line-height: 30px;
}

#contactback {
  width: 100%;
  background: url("../../images/cuddly.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5% 0;
}
#contactback .formcontainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  background: rgba(255, 236, 214, 0.7529411765);
  padding: 5% 0;
  border: solid 1px #664825;
  border-radius: 5px;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
}
#contactback .formcontainer .formtext {
  width: 50%;
  padding: 0 5%;
}
#contactback .formcontainer .formtext h1 {
  color: #664825;
}
#contactback .formcontainer .formtext p, #contactback .formcontainer .formtext ul li {
  color: #664825;
}
#contactback .formcontainer .formtext ul {
  padding: 0 15px;
}
#contactback .formcontainer .formform {
  width: 50%;
}
#contactback .formcontainer .formform form label {
  color: #664825;
  display: inline-block;
  margin-top: 10px;
}
#contactback .formcontainer .formform form input[type=text], #contactback .formcontainer .formform form input[type=email] {
  display: block;
  min-width: 250px;
  width: 80%;
  max-width: 400px;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #664825;
  border-radius: 20px;
  background-color: whitesmoke;
}
#contactback .formcontainer .formform form input[type=checkbox] {
  display: inline-block;
}
#contactback .formcontainer .formform form input[type=checkbox]:checked {
  color: yellow;
  padding: 10px;
}
#contactback .formcontainer .formform form textarea {
  display: block;
  min-width: 250px;
  width: 80%;
  max-width: 400px;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #664825;
  border-radius: 20px;
  background-color: whitesmoke;
}

.aboutus {
  position: relative;
  background: url("../../images/ban.png") center/cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  margin: 0;
}

.textintro {
  width: 100%;
  margin: 0;
  padding: 5% 0;
  background: #ffecd6;
}
.textintro .textcontainer {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.textintro .textcontainer h1 {
  margin: 0;
}

.mamservices {
  background: #ffecd6;
  width: 100%;
  padding: 0 10%;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "p1 t1" "t2 p2" "p3 t3" "t4 p4" "p5 t5";
}
.mamservices .photo1 {
  grid-area: p1;
}
.mamservices .photo1 img {
  display: block;
  margin: auto;
  height: 250px;
  border-radius: 100%;
  border: solid 2px #664825;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.29);
}
.mamservices .text1 {
  grid-area: t1;
  width: 85%;
  text-align: center;
  place-self: center;
}
.mamservices .text2 {
  grid-area: t2;
  width: 85%;
  text-align: center;
  place-self: center;
}
.mamservices .photo2 {
  grid-area: p2;
}
.mamservices .photo2 img {
  display: block;
  margin: auto;
  height: 250px;
  border-radius: 100%;
  border: solid 2px #664825;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.29);
}
.mamservices .photo3 {
  grid-area: p3;
}
.mamservices .photo3 img {
  display: block;
  margin: auto;
  height: 250px;
  border-radius: 100%;
  border: solid 2px #664825;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.29);
}
.mamservices .text3 {
  grid-area: t3;
  width: 85%;
  text-align: center;
  place-self: center;
}
.mamservices .text4 {
  grid-area: t4;
  width: 85%;
  text-align: center;
  place-self: center;
}
.mamservices .photo4 {
  grid-area: p4;
}
.mamservices .photo4 img {
  display: block;
  margin: auto;
  height: 250px;
  border-radius: 100%;
  border: solid 2px #664825;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.29);
}
.mamservices .photo5 {
  grid-area: p5;
}
.mamservices .photo5 img {
  display: block;
  margin: auto;
  height: 250px;
  border-radius: 100%;
  border: solid 2px #664825;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.29);
}
.mamservices .text5 {
  grid-area: t5;
  width: 85%;
  text-align: center;
  place-self: center;
}/*# sourceMappingURL=index.css.map */