/* ************** Variables ********** */
@font-face {
  font-family: Delius Swash Caps;
  src: url("../../font/DeliusSwashCaps-Regular.ttf");
}
@font-face {
  font-family: Butterfly-kids;
  src: url("../../font/ButterflyKids-Regular.ttf");
}
@font-face {
  font-family: dandelion;
  src: url("../../font/Dandelion.otf");
}
@font-face {
  font-family: mali;
  src: url("../../font/Mali-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Delius Swash Caps;
  color: #664825;
}
*::-moz-selection {
  background-color: #664825;
  color: #ffecd6;
}
*::selection {
  background-color: #664825;
  color: #ffecd6;
}

h2 {
  position: relative;
  font-family: mali;
  font-size: 4rem;
}

.carousel-control {
  border-radius: 25px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.29);
  border-radius: 5px;
}
.carousel-caption p {
  color: #ccb59b;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background: #ccb59b;
}
nav .logo {
  width: 70px;
}
nav .logo img {
  width: 100%;
}
nav ul {
  vertical-align: middle;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  color: #664825;
}
nav ul li a:hover {
  color: #ffecd6;
  text-decoration: none;
}

.fullwidth {
  width: 100%;
  padding: 0 10%;
  background: #ffecd6;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% auto;
  grid-template-areas: "mt mi";
}
.fullwidth .ppltitle {
  grid-area: mt;
  position: relative;
  height: 100%;
  display: flex;
}
.fullwidth .ppltitle .titles {
  position: relative;
  top: 30%;
  left: 0;
  transform: translate(-30% 0);
}
.fullwidth .ppltitle .titles h1 {
  position: relative;
  font-size: 5rem;
  font-family: mali;
  line-height: 50px;
  margin-bottom: 20px;
}
.fullwidth .ppltitle .titles h1 span {
  font-size: 5rem;
  font-family: mali;
  margin-bottom: 20px;
  color: #3D8A6C;
}
.fullwidth .ppltitle .titles h1::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 5px;
  background-color: #3D8A6C;
  border-radius: 10px;
  top: 105%;
  left: 0;
}
.fullwidth .ppltitle .titles h2 {
  font-size: 2rem;
  color: #997a56;
}
.fullwidth .pplimage {
  grid-area: mi;
  position: relative;
}
.fullwidth .pplimage .svg-container {
  position: relative;
  margin-top: 50px;
}
.fullwidth .pplimage .svg-container::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/733740.png");
  background-repeat: no-repeat;
  z-index: 0;
}
.fullwidth .pplimage .svg-container svg {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: auto;
  z-index: 2;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.normalcontainer {
  width: 100%;
  padding: 0 10%;
  background: #ffecd6;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.normalcontainer .anim01 {
  display: block;
  position: absolute;
  top: 35%;
  left: -50%;
  width: 150vh;
  height: 150vh;
  background: #ccb59b;
  border-radius: 100%;
  z-index: 0;
}
.normalcontainer .anim02 {
  display: block;
  position: absolute;
  top: 5%;
  left: 80%;
  overflow: hidden;
  width: 160vh;
  height: 160vh;
  background: #faefe3;
  border-radius: 100%;
  z-index: 0;
}
.normalcontainer .bandeau01 {
  position: relative;
  display: flex;
  margin: 25px auto;
}
.normalcontainer .bandeau01 .imagepart {
  position: relative;
  width: 100%;
}
.normalcontainer .bandeau01 .imagepart .svg-container02 {
  position: relative;
  margin: auto;
}
.normalcontainer .bandeau01 .imagepart .svg-container02 svg {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 2;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}
.normalcontainer .bandeau01 .textpart {
  position: relative;
  width: 100%;
  padding: 0 25px;
}
.normalcontainer .bandeau01 .textpart h2 {
  margin-bottom: 20px;
}
.normalcontainer .bandeau01 .textpart h2 span {
  font-family: mali;
  font-size: 4rem;
  color: #3D8A6C;
}
.normalcontainer .bandeau01 .textpart h2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  height: 5px;
  background-color: #ccb59b;
  border-radius: 10px;
}
.normalcontainer .pictocontainer {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 25px;
}
.normalcontainer .pictocontainer .pictobox {
  display: block;
  position: relative;
  min-width: 250px;
  max-width: 400px;
  width: 20%;
  text-align: center;
  margin: 25px;
  padding: 2%;
  border-radius: 25px;
  background-color: #faefe3;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.normalcontainer .pictocontainer .pictobox h3 {
  display: block;
  text-align: center;
  position: relative;
  font-family: mali;
  font-size: 4rem;
  font-weight: bolder;
  color: #3D8A6C;
  margin-bottom: 20px;
}
.normalcontainer .pictocontainer .pictobox h3::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 50%;
  width: 30px;
  height: 5px;
  background-color: #8CAFA2;
  border-radius: 10px;
  transform: translateX(-50%);
}
.normalcontainer .pictocontainer .pictobox svg {
  width: 50%;
  height: auto;
  fill: #ccb59b;
}
.normalcontainer .ourobjective {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  width: 50%;
  max-width: 500px;
  margin: 50px auto 0;
  text-align: center;
}
.normalcontainer .ourobjective .part1 {
  position: relative;
}
.normalcontainer .ourobjective .part1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 110%;
  width: 300px;
  height: 300px;
  background: url("../../images/kid.jpg");
  -webkit-clip-path: path("M252.843 64.8508C276.422 82.7115 300 114.228 300 149.716C300 185.453 276.19 225.407 235.968 256.925C195.745 288.441 139.343 311.52 94.4974 293.901C49.6518 276.281 16.596 218.209 4.80675 156.417C-5.98247 94.8715 2.72629 29.8521 36.0134 8.75804C69.3005 -12.3365 126.167 10.9989 166.158 24.3926C206.149 37.7863 229.495 44.9902 252.843 64.8508Z");
          clip-path: path("M252.843 64.8508C276.422 82.7115 300 114.228 300 149.716C300 185.453 276.19 225.407 235.968 256.925C195.745 288.441 139.343 311.52 94.4974 293.901C49.6518 276.281 16.596 218.209 4.80675 156.417C-5.98247 94.8715 2.72629 29.8521 36.0134 8.75804C69.3005 -12.3365 126.167 10.9989 166.158 24.3926C206.149 37.7863 229.495 44.9902 252.843 64.8508Z");
  z-index: 2;
}
.normalcontainer .ourobjective .part2 {
  position: relative;
}
.normalcontainer .ourobjective .part2::before {
  content: "";
  position: absolute;
  top: 200px;
  left: -70%;
  width: 300px;
  height: 300px;
  background: url("../../images/logo.png");
  background-repeat: no-repeat;
}
.normalcontainer .ourobjective h2 {
  margin-bottom: 15px;
}
.normalcontainer .ourobjective h2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: #ccb59b;
  border-radius: 10px;
}
.normalcontainer .ourobjective h3 {
  position: relative;
  color: #ccb59b;
  margin-bottom: 10px;
}
.normalcontainer .ourobjective p {
  margin-bottom: 50px;
  position: relative;
}
.normalcontainer .ourobjective p::after {
  content: "";
  position: absolute;
  top: 115%;
  left: 50%;
  width: 50px;
  height: 5px;
  background-color: #8CAFA2;
  border-radius: 10px;
  transform: translateX(-50%);
}

.banner01 {
  display: block;
  width: 100%;
  min-height: 400px;
  background: url("../../images/mam.png") center/cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.banner01 p {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 50px;
  font-family: mali;
  font-size: 3rem;
  font-weight: bolder;
  color: #faefe3;
}
.banner01 p span {
  font-family: mali;
  font-size: 3rem;
  color: #3D8A6C;
}
.banner01 img {
  display: block;
  max-width: 150px;
  margin: auto;
}

.teamcontainer {
  width: 100%;
  background: #ffecd6;
  margin: auto;
  padding: 1% 10%;
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.teamcontainer .ourteam {
  width: 50%;
  height: auto;
  padding: 25px;
  margin: 50px auto;
}
.teamcontainer .ourteam h2 {
  font-family: mali;
  font-size: 4rem;
}
.teamcontainer .mamcontainer {
  position: relative;
  width: 40%;
  padding: 25px;
  min-height: 400px;
  z-index: 1;
}
.teamcontainer .mamcontainer img {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  max-height: 350px;
  border-radius: 25px;
}
.teamcontainer .mamcontainer p {
  position: relative;
  text-align: center;
}

.banner02 {
  width: 100%;
  background: #ffecd6;
  margin: auto;
  padding: 1% 10%;
  padding-bottom: 50px;
}
.banner02 h2 {
  text-align: center;
  margin-bottom: 25px;
}
.banner02 .mapform {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: auto;
}
.banner02 .mapform .googlemap {
  width: 60%;
}
.banner02 .mapform .googlemap iframe {
  width: 95%;
  border: solid 3px #664825;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.banner02 .mapform .homeform {
  width: 40%;
}
.banner02 .mapform .homeform input, .banner02 .mapform .homeform textarea {
  min-width: 250px;
  width: 80%;
  max-width: 400px;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px #664825;
  border-radius: 20px;
  background-color: #faefe3;
}
.banner02 .mapform .homeform input[type=submit] {
  background: #ccb59b;
}

.mamfooter {
  position: relative;
  background: #ccb59b;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.mamfooter .footercontainer {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 4% 5%;
}
.mamfooter .footercontainer .footcol01 {
  position: relative;
  width: 40%;
  height: 100%;
}
.mamfooter .footercontainer .footcol01 svg {
  position: relative;
  width: 100%;
  border-radius: 15px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}
.mamfooter .footercontainer .footcol02 {
  position: relative;
  width: 25%;
  padding-left: 25px;
  margin-bottom: 20px;
}
.mamfooter .footercontainer .footcol02 h3 {
  position: relative;
}
.mamfooter .footercontainer .footcol02 h3::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  background-color: #ffecd6;
  border-radius: 10px;
  top: 120%;
  left: 0;
}
.mamfooter .footercontainer .footcol02 ul {
  position: relative;
}
.mamfooter .footercontainer .footcol02 ul li {
  list-style: none;
  line-height: 30px;
}
.mamfooter .footercontainer .footcol02 ul li a {
  color: #664825;
}
.mamfooter .footercontainer .footcol02 ul li a:hover {
  color: #ffecd6;
}
.mamfooter .footercontainer .footcol02 ul li a .fontawe {
  color: #ffecd6;
}
.mamfooter .footercontainer .footcol02 ul li a .fontawe:hover {
  color: #ffecd6;
}
.mamfooter .footercontainer .footcol03 {
  width: 25%;
}
.mamfooter .footercontainer .footcol03 h3 {
  position: relative;
  margin-bottom: 20px;
}
.mamfooter .footercontainer .footcol03 h3::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  background-color: #ffecd6;
  border-radius: 10px;
  top: 120%;
  left: 0;
}
.mamfooter .footercontainer .footcol03 ul li {
  list-style: none;
  line-height: 30px;
}/*# sourceMappingURL=index.css.map */