.banner01 {
  position: relative;
  display: block;
  width: 100%;
  min-height: 400px;
  background: url("../../images/mam.png") center/cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  .mybird{
    position: absolute;
    top: 50%;
    height: 80px;
    width: auto;
    animation: birdy 15s infinite linear;
    z-index: 0;
  }
  @keyframes birdy{
    0%{
      left: 100%;
    }
    50%{
      left: 25%;
    }
    100%{
      left: -50%;
    }
  }
  p {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 50px;
    font-family: mali;
    font-size: 3rem;
    font-weight: bolder;
    color: $color9;
    span {
      font-family: mali;
      font-size: 3rem;
      color: $color6;
    }
  }
  img {
    display: block;
    max-width: 150px;
    margin: auto;
  }
}

.teamcontainer {
  @include standardbanner;
  @include divideflex;

  .ourteam {
    width: 50%;
    height: auto;
    padding: 25px;
    margin: 0 auto;
    h2 {
      font-family: mali;
      font-size: 4rem;
      position: relative;
      margin-bottom: 20px;
      &::after{
        @include afterparam(100px, 5px, $color2);
        top: 105%;
        left: 0;
      }
    }
    p{
      position: relative;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   width: 50px;
      //   height: 127px;
      //   top: 28%;
      //   left: -20%;
      //   background: url("../../images/abc.png") center;
      //   background-repeat: no-repeat;
      //   filter: drop-shadow(
      //     -5px 3px 15px rgba(0, 0, 0, 0.3)
      //   );
      // }
    }
  }
  .mamcontainer {
    position: relative;
    width: 40%;
    padding: 25px;
    min-height: 400px;
    z-index: 1;
    #myCarousel{
      .carousel-inner{
        img {
          position: relative;
          width: 100%;
          height: auto;
          // overflow: hidden;
          // max-height: 350px;
          border-radius: 25px;
        }
        p {
          position: relative;
          text-align: center;
        }
      }
    }
  }
}
.banner02 {
  @include standardbanner;
  padding-bottom: 50px;

  h2 {
    text-align: center;
    margin-bottom: 35px;
    position: relative;
    &::after{
      @include afterparam(100px, 5px, $color2);
      top: 105%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .mapform {
    @include divideflex;
    height: auto;
    background-color: $color9;
    padding: 25px;
    border-radius: 15px;
    border: solid 1px $color4;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
    .googlemap {
      width: 60%;
      iframe {
        width: 95%;
        border: solid 3px $color4;
        border-radius: 10px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      }
    }
    .homeform {
      width: 40%;
      input,
      textarea {
        @include defaultinput;
      }
      input[type="date"]{
        width: 75%;
      }
      input[type="submit"] {
        background: $color2;
      }
    }
  }
}
