#contactback{
    width: 100%;
    background: url('../../images/cuddly.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5% 0;
    .formcontainer{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        margin: auto;
        background: $color10;
        padding: 5% 0;
        border: solid 1px $color4;
        border-radius: 5px;
        box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
        @media screen and (max-width : 800px){
          display: block;
        }
        .formtext{
            width: 50%;
            padding: 0 5%;
            @media screen and (max-width : 800px){
                width: 85%;
                margin: auto;
            }

            h1{
                color: $color4;
            }
            p, ul li{
                color: $color4;
            }
            ul{
                padding: 0 15px;
            }
        }
        .formform{
            width: 50%;
            @media screen and (max-width : 800px){
                display: block;
                width: 85%;
                margin: auto;
            }
            @media screen and (max-width : 660px){
                width: 95%;
            }
            form{
                @media screen and (max-width : 800px){
                    display: block;
                    margin: auto;
                    width: 80%;
                }
                @media screen and (max-width : 660px){
                    width: 95%;
                }
                label{
                    color: $color4;
                    margin-top: 10px;
                    // display: inline-block;
                }
                input[type="text"], input[type="email"]{
                    @include defaultinput;
                    width: 70%;
                    @media screen and (max-width : 700px){
                        width: 85%;
                    }
                }
                textarea{
                    width: 70%;
                    @include defaultinput;
                    @media screen and (max-width : 800px){
                        width: 85%;
                    }
                    @media screen and (max-width : 600px){
                        width: 95%;
                    }
                }
            }
        }
    }
}