#mymodal {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.6);
  .modal-content {
    width: 70%;
    margin: 100px auto 0;
    background: $color1;
    .modal-header {
      .entete {
        position: relative;
        text-align: center;
        &::before {
          position: absolute;
          content: "";
          top: -25px;
          left: -150px;
          width: 100px;
          height: 100px;
          background: url("../../images/logo.png") center/cover;
          background-repeat: no-repeat;
        }
      }
    }
    .modal-body {
      padding: 50px 10%;
      .bodycontainer {
        margin: 0 auto;
        // background-color: red;
        .homeform {
          margin: 0 auto;
          // background-color: blue;
          form {
            position: relative;
            input,
            select {
              min-height: 40px;
              margin-bottom: 10px;
              padding: 10px;
              border: solid 1px $color4;
              background-color: whitesmoke;
            }
            #childname {
              width: 73%;
            }
            input[type="date"] {
              width: 150px;
            }
            .topinput {
              min-width: 15%;
              width: 200px;
              max-width: 80%;
            }
            .parents {
              width: 100%;
            }
            .phone {
              width: 25%;
            }
            input[type="submit"] {
              position: relative;
              margin: 20px auto 0;
              @include defaultinput;
              width: 25%;
              color: $color1;
              border: solid 1px $color8;
              background: $color2;
              box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
              transition: 1s;
              &:hover {
                color: $color4;
                background: $color1;
                border: solid 1px $color4;
                left: 5px;
              }
            }
            #select,
            select {
              min-width: 10%;
              max-width: 20%;
              min-height: 40px;
              margin-bottom: 10px;
              padding: 10px;
              border: solid 1px $color4;
              background-color: whitesmoke;
            }

            table {
              display: block;
              padding: 20px;
              background: $color9;
              thead {
                tr {
                  margin-bottom: 15px;
                  .daycolumn {
                    width: 15%;
                  }
                  .entrycolumn {
                    width: 35%;
                  }
                  .leavecolumn {
                    width: 35%;
                  }
                }
                td {
                  text-align: center;
                  font-weight: bold;
                  text-decoration: underline;
                }
              }
              tbody {
                tr {
                  .day {
                    font-weight: bold;
                  }
                  .colonne01 {
                    width: 15%;
                  }
                  .colonne02 {
                    width: 50%;
                  }
                  .colonne03 {
                    width: 35%;
                  }
                  td {
                    span {
                      margin: 15px;
                    }
                    input {
                      min-width: 50%;
                      width: 80%;
                      max-width: 100%;
                    }
                  }
                }
              }
              border: solid 1px $color4;
              //     td{
              //         padding: 10px 10px;
              //     }
            }
          }
        }
      }
    }
    .modal-footer {
      button {
        position: relative;
        margin: 20px auto 0;
        padding: 10px;
        border: solid 1px $color4;
        border-radius: 20px;
        // @include defaultinput;
        // text-align: right;
        width: 10%;
        color: $color1;
        border: solid 1px $color8;
        background: $color2;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        transition: 1s;
        &:hover {
          color: $color4;
          background: $color1;
          border: solid 1px $color4;
          left: 5px;
        }
      }
    }
  }
}

.mamfooter {
  position: relative;
  background: $color2;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  .footercontainer {
    @include divideflex;
    align-items: flex-start;
    height: 100%;
    padding: 4% 5%;
    @media screen and (max-width: 1000px) {
      width: 95%;
      padding: 2% 2%;
    }
    @media screen and (max-width: 875px) {
      display: block;
      padding: 4% 0;
      vertical-align: top;
    }
    .mapform {
      position: relative;
      width: 40%;
      @media screen and (max-width: 875px) {
        width: 100%;
      }
      // height: 100%;
      //   @include divideflex;
      //   height: auto;
      //   background-color: $color9;
      //   padding: 25px;
      //   border-radius: 15px;
      //   border: solid 1px $color4;
      //   box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
      h3 {
        position: relative;
        &::after {
          @include afterparam(70px, 5px, $color1);
          top: 120%;
          left: 0;
        }
      }
      .googlemap {
        width: 100%;
        iframe {
          width: 95%;
          border: solid 3px $color4;
          border-radius: 10px;
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          @media screen and (max-width: 875px) {
            width: 100%;
          }
        }
      }
    }


    .footcol02 {
      position: relative;
      width: 25%;
      padding-left: 25px;
      margin-bottom: 20px;
      @media screen and (max-width: 875px) {
        display: inline-block;
        width: 45%;
        align-items: flex-start;
      }
      @media screen and (max-width: 550px) {
        display: block;
        width: 95%;
      }
      h3 {
        position: relative;
        &::after {
          @include afterparam(70px, 5px, $color1);
          top: 120%;
          left: 0;
        }
      }
      ul {
        position: relative;
        li {
          list-style: none;
          line-height: 30px;
          a {
            color: $color4;
            &:hover {
              color: $color1;
            }
            .fontawe {
              color: $color1;
              &:hover {
                color: $color1;
              }
            }
          }
        }
      }
    }
    .footcol03 {
      width: 25%;
      @media screen and (max-width: 875px) {
        display: inline-block;
        width: 45%;
        align-items: flex-start;
      }
      @media screen and (max-width: 550px) {
        display: block;
        width: 95%;
      }
      h3 {
        position: relative;
        margin-bottom: 20px;
        &::after {
          @include afterparam(70px, 5px, $color1);
          top: 120%;
          left: 0;
        }
      }
      ul {
        li {
          list-style: none;
          line-height: 30px;
        }
      }
    }
  }
}
