.mamfooter{
    position: relative;
    background: $color2;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    .footercontainer{
        @include divideflex;
        height: 100%;
        padding: 4% 5%;

        #footcol01{
            position: relative;
            width: 40%;
            height: 100%;
            img{
                position: relative;
                width: 100%;
                border-radius: 5px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
                transition: 2s;
            }
            &::before {
              content: "";
              position: absolute;
              top: -50px;
              left: -30px;
              width: 100px;
              height: 100px;
              background: url("../../images/logo.png") center/cover;
              background-repeat: no-repeat;
              rotate: -35deg;
              z-index: 2;
              animation: dodo 8s forwards;
            }
            &::after{
                content:"Bien grandir, naturellement.";
                position: absolute;
                top: 100%;
                left: 100px;
                font-size: 2rem;
                opacity: var(--defaultopacity);
                transition: 5s;
            }
            @keyframes dodo{
                to 100%{
                    rotate: 0deg;
                }
            }
        }
        .footcol02{
            position: relative;
            width: 25%;
            padding-left: 25px;
            margin-bottom: 20px;
            h3{
                position: relative;
                &::after{
                    @include afterparam(70px, 5px, $color1);
                    top: 120%;
                    left: 0;
                }
            }
            ul{
                position: relative;
                li{
                    list-style: none;
                    line-height: 30px;
                    a{
                        color: $color4;
                        &:hover{
                            color: $color1;
                        }
                        .fontawe{
                            color: $color1;
                            &:hover{
                                color: $color1;
                            }
                        }
                    }
                }
            }
        }
        .footcol03{
            width: 25%;
            h3{
                position: relative;
                margin-bottom: 20px;
                &::after{
                    @include afterparam(70px, 5px, $color1);
                    top: 120%;
                    left: 0;
                }
            }
            ul{
                li{
                    list-style: none;
                    line-height: 30px;
                }
            }
        }
    }

}