// ***************** Mainimage
.fullwidth {
  @include defaultspacing;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% auto;
  grid-template-areas: "mt mi";
  position: relative;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('../../images/baby4.jpg') ;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  .ppltitle {
    grid-area: mt;
    position: relative;

    .titles {
      position: relative;
      padding: 15px 0;
      left: 0;
      img{
        position: relative;
        height: 250px;
      }
      h1{
        font-family: mali;
        color: $color1;
        font-size: 3rem;
      }
      h2{
        font-family: mali;
        color: $color2;
        font-size: 2rem;
      }
    }
  }
  .pplimage {
    grid-area: mi;
    position: relative;
  }
 
}
// *********** section 01
.normalcontainer {
  @include defaultspacing;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  h2 {
    position: relative;
    margin: 15px auto;
    text-align: center;
    margin-bottom: 20px;
    span{
      font-family: mali;
      font-size: 4rem;
      color: $color6;
    }
    &::after {
      @include afterparam(100px, 5px, $color2);
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .anim01 {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vw;
    background: $color2;
    border-radius: 100%;
    z-index: 0;
    animation: 20s anim01 infinite linear;
  }
  @keyframes anim01{
    0%{
      top: 35%;
      left: -85%;
    }
    50%{  
    top: 30%;
    left: -80%;
    }
    100%{
      top: 35%;
      left: -85%;
    }
  }
  .anim02 {
    display: block;
    position: absolute;
    top: 5%;
    left: 80%;
    overflow: hidden;
    width: 100vw;
    height: 100vw;
    background: $color9;
    border-radius: 100%;
    z-index: 0;
    animation: 20s anim02 infinite linear;
  }
  @keyframes anim02{
    0%{
      top: 5%;
      left: 80%;
    }
    50%{  
    top: 10%;
    left: 75%;
    }
    100%{
      top: 5%;
      left: 80%;
    }
  }


  // **************** Bandeau 01
  .bandeau01 {
    position: relative;
    display: flex;
    margin: 25px 10%;
    #pereenfant {
      position: relative;
      width: 50%;
      max-height: 325px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      
      img{
        height: 100%;
        animation: 10s imgzoom infinite linear;
      }
      @keyframes imgzoom{
        0%{
          transform: scale(1.1);
        }
        30%{
          transform: scale(1);
        }
        70%{
          transform: scale(1.1);
        }
        100%{
          transform: scale(1.2);
        }
      }
    }

    .textpart {
      position: relative;
      width: 50%;
      @include defaultpadding;
    }
  }

  
  // *********** Picto section
  .pictocontainer {
    @include divideflex;
    margin: auto;
    margin-bottom: 25px;
    // border: solid 2px $color2;
    // border-radius: 15px;
    .pictobox {
      display: block;
      position: relative;
      min-width: 250px;
      max-width: 400px;
      width: 20%;
      text-align: center;
      margin: 25px;
      padding: 2%;
      // border: solid 3px $color7;
      border: solid 1px $color4;
      border-radius: 15px;
      background-color: $color9;
      box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
      h3 {
        display: block;
        text-align: center;
        position: relative;
        font-family: mali;
        font-size: 4rem;
        font-weight: bolder;
        color: $color4;
        margin-bottom: 20px;
        &::after {
          content: "";
          position: absolute;
          top: 45px;
          left: 50%;
          width: 30px;
          height: 5px;
          background-color: $color2;
          border-radius: 10px;
          transform: translateX(-50%);
        }
      }
      img{
        height: 70px;
      }
    }
    // 
  }


  // *************** Notre objectif
  .ourobjective {
    @include divideflex;
    align-items: center;
    min-width: 400px;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    #part1 {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 70%;
        left: 110%;
        width: 300px;
        height: 300px;
        background: url("../../images/kid.jpg");
        box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
        border-radius: var(--defaultpath);
        transition: 2s;
        z-index: 2;
      }
    }
    #part2 {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 150px;
        left: -70%;
        scale: var(--defaultscale);
        width: 300px;
        height: 300px;
        background: url("../../images/family.jpg");
        box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.2);
        background-repeat: no-repeat;
        transition: 1s;
        border-radius: 100%;
      }
    }

    h2 {
      margin-bottom: 15px;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 5px;
        background-color: $color2;
        border-radius: 10px;
      }
    }
    h3 {
      position: relative;
      color: $color2;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 50px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 115%;
        left: 50%;
        width: 50px;
        height: 5px;
        background-color: $color7;
        border-radius: 10px;
        transform: translateX(-50%);
      }
    }
  }
}
