// ***************** Mainimage
.fullwidth {
  @include defaultspacing;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 40% 60%;
  grid-template-areas: "mt mi";

  .ppltitle {
    grid-area: mt;
    position: relative;
    height: 100%;
    display: flex;

    .titles {
      position: relative;
      top: 20%;
      left: 0;
      transform: translate(-20% 0);
      h1 {
        position: relative;
        font-size: 2.5rem;
        font-family: mali;
        line-height: 50px;
        margin-bottom: 20px;
        span {
          font-size: 2.5rem;
          font-family: mali;
          margin-bottom: 20px;
          color: $color6;
        }
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100px;
          height: 5px;
          background-color: $color6;
          border-radius: 10px;
        }
      }
      h2 {
        font-size: 1rem;
        color: $color3;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          width: 100%;
          height: 100%;
          background-image: url("../../images/733740.png");
          background-repeat: no-repeat;
          z-index: 0;
        }
      }
      img {
        width: 30%;
        height: auto;
      }
    }
  }
  .pplimage {
    grid-area: mi;
    position: relative;
    .svg-container{
      position: relative;
      margin-top: 50px;
      svg {
        position: relative;
        margin-top: 50px;
        width: 100%;
        height: auto;
        z-index: 2;
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5)); /* Ajustez les valeurs selon vos besoins */
      }
    }


    img {
      position: relative;
      width: 100%;
      height: auto;
      margin: 25px auto 0;
      clip-path: path(
        "M490 130c3.59 -7.12 5.61 -14.9 5.61 -23.02c0 -35.25 -37.69 -63.86 -84.15 -63.86c-17.27 0 -33.40 3.99 -46.72 10.78c-24.28 -31.93 -69.60 -53.35 -121.58 -53.35c-77.49 0 -140.25 47.63 -140.25 106.43c0 1.80 0.09 3.59 0.18 5.39c-49.09 13.10 -84.33 48.62 -84.33 90.40c0 52.88 56.54 95.79 126.23 95.79l322.57 0c61.97 0 112.20 -38.11 112.20 -85.14c0 -41.17 -38.57 -75.56 -89.76 -83.41z"
      );
      z-index: 3;
      // box-shadow: rgba(0, 0, 0, 0.9) 0px 20px 30px;
    }
  }
}
// *********** section 01
.normalcontainer {
  @include defaultspacing;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  .anim01{
    display: block;
    position: absolute;
    top: 35%;
    left: -50%;
    width: 150vh;
    height: 150vh;
    background: $color2;
    border-radius: 100%;
    z-index: 0;
  }
  .anim02{
    display: block;
    position: absolute;
    top: 5%;
    left: 80%;
    overflow: hidden;
    width: 160vh;
    height: 160vh;
    background: $color9;
    border-radius: 100%;
    z-index: 0;
  }

  // *********** Picto section
  .pictocontainer {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
    // border: solid 2px $color2;
    // border-radius: 15px;
    .pictobox {
      display: block;
      position: relative;
      min-width: 250px;
      max-width: 400px;
      width: 20%;
      text-align: center;
      margin: 25px;
      padding: 2%;
      // border: solid 3px $color7;
      border-radius: 25px;
      background-color: $color9;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      h3 {
        display: block;
        text-align: center;
        position: relative;
        font-family: mali;
        font-size: 2rem;
        font-weight: bolder;
        color: $color6;
        margin-bottom: 20px;
        &::after {
          content: "";
          position: absolute;
          top: 45px;
          left: 50%;
          width: 30px;
          height: 5px;
          background-color: $color7;
          border-radius: 10px;
          transform: translateX(-50%);
        }
      }
      svg {
        width: 50%;
        height: auto;
        fill: $color2;
      }
    }
  }

  // **************** Bandeau 01
  .bandeau01 {
    display: flex;
    margin: 25px auto;
    .imagepart {
      width: 50%;
      // clip-path: path(
      //   "M505.686 127.701C552.843 165.423 600 228.457 600 299.432C600 370.905 552.38 450.813 471.936 514.849C391.493 578.884 278.843 626.04 188.994 587.803C99.1455 549.567 33.1922 436.209 9.6136 312.834C-13.8657 189.363 5.45332 59.7042 72.0271 17.5161C138.6 -24.672 315.333 19.9974 398.316 48.7853C481.299 77.5731 508.529 89.9811 505.686 127.701Z"
      // );

      // img {
        // width: 90%;
        // border-radius: 45px;
      // }
    }
    .textpart {
      position: relative;
      width: 50%;
      @include defaultpadding;
      h2 {
        position: relative;
        font-family: mali;
        margin-bottom: 20px;
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100px;
          height: 5px;
          background-color: $color2;
          border-radius: 10px;
        }
      }
    }
  }

  // *************** Notre objectif
  .ourobjective {
    display: flex;
    align-items: center;
    min-width: 400px;
    width: 50%;
    max-width: 500px;
    margin: 50px auto 0;
    text-align: center;
    .part1 {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 110%;
        width: 300px;
        height: 300px;
        background: url("../../images/kid.jpg");
        // border-radius: 300px;
        clip-path: path(
          "M252.843 64.8508C276.422 82.7115 300 114.228 300 149.716C300 185.453 276.19 225.407 235.968 256.925C195.745 288.441 139.343 311.52 94.4974 293.901C49.6518 276.281 16.596 218.209 4.80675 156.417C-5.98247 94.8715 2.72629 29.8521 36.0134 8.75804C69.3005 -12.3365 126.167 10.9989 166.158 24.3926C206.149 37.7863 229.495 44.9902 252.843 64.8508Z"
        );
        z-index: 2;
      }
    }
    .part2 {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 200px;
        left: -70%;

        width: 300px;
        height: 300px;
        background: url("../../images/child3.jpeg");
        border-radius: 300px;
       
      }
    }

    h2 {
      position: relative;
      font-family: mali;
      margin-bottom: 15px;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 5px;
        background-color: $color2;
        border-radius: 10px;
      }
    }
    h3 {
      position: relative;
      color: $color2;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 50px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 115%;
        left: 50%;
        width: 50px;
        height: 5px;
        background-color: $color7;
        border-radius: 10px;
        transform: translateX(-50%);
      }
    }
  }
}
