// ***************** Mainimage
.fullwidth {
  @include defaultspacing;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40% auto;
  grid-template-areas: "mt mi";
  position: relative;
  width: 100%;
  overflow: hidden;

  .ppltitle {
    grid-area: mt;
    position: relative;
    height: 100%;
    display: flex;

    .titles {
      position: relative;
      top: 30%;
      left: 0;
      transform: translate(-30% 0);
      h1 {
        position: relative;
        font-size: 5rem;
        font-family: mali;
        line-height: 50px;
        margin-bottom: 20px;
        span {
          font-size: 5rem;
          font-family: mali;
          margin-bottom: 20px;
          color: $color6;
        }
        &::after {
          @include afterparam(100px, 5px, $color6);
          top: 105%;
          left: 0;
        }
      }
      h2 {
        font-size: 2rem;
        color: $color3;
      }
    }
  }
  .pplimage {
    grid-area: mi;
    position: relative;
    .svg-container {
      position: relative;
      margin-top: 50px;
      &::before {
        content: "";
        position: absolute;
        top: 5%;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../images/733740.png");
        background-repeat: no-repeat;
        z-index: 0;
        animation: mysun 5s infinite linear;
      }
      @keyframes mysun{
        0%{
          rotate: 1deg;
        }
        25%{
          rotate: -1deg;
        }
        50%{
          rotate: 1deg;
        }
        75%{
          rotate: -1deg;
        }
        100%{
          rotate: 1deg;
        }
      }
      svg {
        position: relative;
        margin-top: 50px;
        width: 100%;
        height: auto;
        z-index: 2;
        filter: drop-shadow(
          10px 10px 10px rgba(0, 0, 0, 0.5)
        );
      }
    }

  }
  .mybird{
    position: absolute;
    top: 80%;
    height: 80px;
    width: auto;
    animation: birdy 15s infinite linear;
    //  duration timing-function delay iteration-count direction fill-mode;
  }
  @keyframes birdy{
    0%{
      left: 100%;
    }
    50%{
      left: 25%;
    }
    100%{
      left: -50%;
    }
  }
}
// *********** section 01
.normalcontainer {
  @include defaultspacing;
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  .anim01 {
    display: block;
    position: absolute;
    width: 150vh;
    height: 150vh;
    background: $color2;
    border-radius: 100%;
    z-index: 0;
    animation: 20s anim01 infinite linear;
  }
  @keyframes anim01{
    0%{
      top: 35%;
      left: -50%;
    }
    50%{  
    top: 30%;
    left: -45%;
    }
    100%{
      top: 35%;
      left: -50%;
    }
  }
  .anim02 {
    display: block;
    position: absolute;
    top: 5%;
    left: 80%;
    overflow: hidden;
    width: 160vh;
    height: 160vh;
    background: $color9;
    border-radius: 100%;
    z-index: 0;
    animation: 20s anim02 infinite linear;
  }
  @keyframes anim02{
    0%{
      top: 5%;
      left: 80%;
    }
    50%{  
    top: 10%;
    left: 75%;
    }
    100%{
      top: 5%;
      left: 80%;
    }
  }


  // **************** Bandeau 01
  .bandeau01 {
    position: relative;
    display: flex;
    margin: 25px auto;
    .imagepart {
      position: relative;
      width: 100%;
      .svg-container02{
        position: relative;
        margin: auto;
        svg {
          position: relative;
          width: 100%;
          height: auto;
          z-index: 2;
          filter: drop-shadow(
            10px 10px 10px rgba(0, 0, 0, 0.5)
          );
        }
      }
    }

    .textpart {
      position: relative;
      width: 100%;
      @include defaultpadding;
      h2 {
        margin-bottom: 20px;
        span{
          font-family: mali;
          font-size: 4rem;
          color: $color6;
        }
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100px;
          height: 5px;
          background-color: $color2;
          border-radius: 10px;
        }
      }
    }
  }

  
  // *********** Picto section
  .pictocontainer {
    @include divideflex;
    margin: auto;
    margin-bottom: 25px;
    // border: solid 2px $color2;
    // border-radius: 15px;
    .pictobox {
      display: block;
      position: relative;
      min-width: 250px;
      max-width: 400px;
      width: 20%;
      text-align: center;
      margin: 25px;
      padding: 2%;
      // border: solid 3px $color7;
      border-radius: 25px;
      background-color: $color9;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
      h3 {
        display: block;
        text-align: center;
        position: relative;
        font-family: mali;
        font-size: 4rem;
        font-weight: bolder;
        color: $color6;
        margin-bottom: 20px;
        &::after {
          content: "";
          position: absolute;
          top: 45px;
          left: 50%;
          width: 30px;
          height: 5px;
          background-color: $color7;
          border-radius: 10px;
          transform: translateX(-50%);
        }
      }
      svg {
        width: 50%;
        height: auto;
        fill: $color2;
      }
    }
  }


  // *************** Notre objectif
  .ourobjective {
    @include divideflex;
    align-items: center;
    min-width: 400px;
    width: 50%;
    max-width: 500px;
    margin: 50px auto 0;
    text-align: center;
    .part1 {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 110%;
        width: 300px;
        height: 300px;
        background: url("../../images/kid.jpg");
        // border-radius: 300px;
        clip-path: path(
          "M252.843 64.8508C276.422 82.7115 300 114.228 300 149.716C300 185.453 276.19 225.407 235.968 256.925C195.745 288.441 139.343 311.52 94.4974 293.901C49.6518 276.281 16.596 218.209 4.80675 156.417C-5.98247 94.8715 2.72629 29.8521 36.0134 8.75804C69.3005 -12.3365 126.167 10.9989 166.158 24.3926C206.149 37.7863 229.495 44.9902 252.843 64.8508Z"
        );
        z-index: 2;
      }
    }
    .part2 {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 200px;
        left: -70%;
        width: 300px;
        height: 300px;
        background: url("../../images/logo.png");
        background-repeat: no-repeat;
      }
    }

    h2 {
      margin-bottom: 15px;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 5px;
        background-color: $color2;
        border-radius: 10px;
      }
    }
    h3 {
      position: relative;
      color: $color2;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 50px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 115%;
        left: 50%;
        width: 50px;
        height: 5px;
        background-color: $color7;
        border-radius: 10px;
        transform: translateX(-50%);
      }
    }
  }
}
