// ***************** Mainimage
.fullwidth {
  @include defaultspacing;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 40% 60%;
  grid-template-areas: "mt mi";

  .ppltitle {
    grid-area: mt;
    position: relative;
    height: 100%;
    display: flex;

    .titles {
      position: relative;
      top: 25%;
      left: 0;
      transform: translate(-25% 0);
      h1 {
        position: relative;
        font-size: 3.5rem;
        font-family: Butterfly-kids;
        margin-bottom: 20px;
        span{
          font-size: 3.5rem;
          font-family: Butterfly-kids;
          margin-bottom: 20px;
          color: $color6;
        }
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100px;
          height: 5px;
          background-color: $color6;
          border-radius: 10px;
        }
      }
      h2 {
        font-size: 1rem;
        color: $color3;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          width: 100%;
          height: 100%;
          background-image: url("../../images/733740.png");
          background-repeat: no-repeat;
          z-index: 0;
        }
      }
      img {
        width: 30%;
        height: auto;
      }
    }
  }
  .pplimage {
    grid-area: mi;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 75px;
      left: 35px;
      clip-path: path(
        "M490 130c3.59 -7.12 5.61 -14.9 5.61 -23.02c0 -35.25 -37.69 -63.86 -84.15 -63.86c-17.27 0 -33.40 3.99 -46.72 10.78c-24.28 -31.93 -69.60 -53.35 -121.58 -53.35c-77.49 0 -140.25 47.63 -140.25 106.43c0 1.80 0.09 3.59 0.18 5.39c-49.09 13.10 -84.33 48.62 -84.33 90.40c0 52.88 56.54 95.79 126.23 95.79l322.57 0c61.97 0 112.20 -38.11 112.20 -85.14c0 -41.17 -38.57 -75.56 -89.76 -83.41z"
      );
      background: $color2;
      z-index: 2;
    }

    img {
      position: relative;
      width: 100%;
      height: auto;
      margin: 25px auto 0;
      clip-path: path(
        "M490 130c3.59 -7.12 5.61 -14.9 5.61 -23.02c0 -35.25 -37.69 -63.86 -84.15 -63.86c-17.27 0 -33.40 3.99 -46.72 10.78c-24.28 -31.93 -69.60 -53.35 -121.58 -53.35c-77.49 0 -140.25 47.63 -140.25 106.43c0 1.80 0.09 3.59 0.18 5.39c-49.09 13.10 -84.33 48.62 -84.33 90.40c0 52.88 56.54 95.79 126.23 95.79l322.57 0c61.97 0 112.20 -38.11 112.20 -85.14c0 -41.17 -38.57 -75.56 -89.76 -83.41z"
      );
      z-index: 3;
      // box-shadow: rgba(0, 0, 0, 0.9) 0px 20px 30px;
    }
  }
}
// *********** Picto section
.pictocontainer {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 25px;
  .pictobox {
    display: block;
    position: relative;
    min-width: 250px;
    max-width: 400px;
    width: 20%;
    text-align: center;
    margin: 25px;
    padding: 2%;
    // border: solid 3px $color7;
    border-radius: 25px;
    background-color: #faefe3;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    h3 {
      display: block;
      text-align: center;
      position: relative;
      font-family: mali;
      font-size: 2rem;
      font-weight: bolder;
      color: $color6;
      margin-bottom: 20px;
      &::after {
        content: "";
        position: absolute;
        top: 45px;
        left: 50%;
        width: 30px;
        height: 5px;
        background-color: $color7;
        border-radius: 10px;
        transform: translateX(-50%);
      }
    }
    svg {
      width: 50%;
      height: auto;
      fill: $color6;
    }
  }
}
// *********** section 01
.normalcontainer {
  @include defaultspacing;
  .bandeau01 {
    display: flex;
    .imagepart {
      width: 50%;
      clip-path: path(
        "M505.686 127.701C552.843 165.423 600 228.457 600 299.432C600 370.905 552.38 450.813 471.936 514.849C391.493 578.884 278.843 626.04 188.994 587.803C99.1455 549.567 33.1922 436.209 9.6136 312.834C-13.8657 189.363 5.45332 59.7042 72.0271 17.5161C138.6 -24.672 315.333 19.9974 398.316 48.7853C481.299 77.5731 508.529 89.9811 505.686 127.701Z"
      );

      img {
        width: 100%;
        border-radius: 45px;
      }
    }
    .textpart {
      width: 50%;
      @include defaultpadding;
      h2 {
        font-family: mali;
      }
    }
  }
}
