#menu {
  position: relative;
  width: 100%;
  top: 0;
  padding: 0 10%;
  background: $color2;
  transition: 1s;
  z-index: 4;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #mobilemenu{
      display: none;
      transition: 1s;
      li {
        display: block;
        list-style: none;
        margin: 10px 5px;

        .highlight {
          color: $color1;
        }

        a {
          text-decoration: none;
          padding: 10px 5px;
          font-size: 1.5rem;
          color: $color4;
          &:hover {
            color: $color1;
            text-decoration: none;
          }
        }
      }
      @media screen and (max-width: 610px) {
        display: block;
      }
    }

    .logo {
      width: 70px;
      padding: 5px;

      img {
        width: 100%;
      }
    }
    ul {
      vertical-align: middle;
      transition: 1s;
      @media screen and (max-width: 610px) {
        display: none;
      }
      li {
        display: inline-block;
        list-style: none;
        margin: 10px 15px;

        .highlight {
          color: $color1;
        }

        a {
          text-decoration: none;
          padding: 10px 15px;
          font-size: 1.5rem;
          color: $color4;
          &:hover {
            color: $color1;
            text-decoration: none;
          }
        }
      }
    }
  }
}
